# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [3]:
# Write your code here
print("Data","Science","Mentorship","Program",sep='-',end='-started-')
print("By","CampusX",sep='-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [4]:
# Write your code here
c=float(input())
f=(c*1.8)+32
print("farenhite is",f)

150
farenhite is 302.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [5]:
# Write your code here
a=int(input())
b=int(input())
a=a+b
b=a-b
a=a-b
print("After Swapping",a,b)

7
9
After Swapping 9 7

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [6]:
# Write your code here
x1=int(input())
x2=int(input())
y1=int(input())
y2=int(input())
z=(((x2 - x1 )**2) + ((y2-y1)**2) )**0.5
print(z)

4
6
0
6
6.324555320336759

In [7]:
p1x=int(input("enter x coordinate of 1st point"))
p1y=int(input("enter y coordinate 1st point"))
p2x=int(input("enter x coordinate 2nd point"))
p2y=int(input("enter y coordinate of 2nd point"))
distance=((p2x-p1x)**2+(p2y-p1y)**2)**0.5
print(distance)

enter x coordinate of 1st point5
enter y coordinate 1st point9
enter x coordinate 2nd point8
enter y coordinate of 2nd point7
3.605551275463989

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [8]:
# Write your code here
p=int(input())
r=int(input())
t=float(input())
i=(p*r*t)/100
print("find the simple interest",i)

7
8
9
find the simple interest 5.04

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [9]:
# Write your code here
def chicken_dog(heads,legs):
  count=0
  count=(legs)-2*(heads)
  count=count/2
  return count
heads=4
legs=12
dog=chicken_dog(heads,legs)
print("dog=",dog)
print("chicken=",heads-dog)

dog= 2.0
chicken= 2.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [10]:
# Write your code here
def sum(n):
  return (n*(n+1)*(2*n+1)/6)
sum(5)

55.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [12]:
# Write your code here
first_term=int(input("enter 1st term"))
second_term=int(input("enter 2nd term"))
n=int(input())
d=-first_term+second_term
an=first_term+(n-1)*d
print(an)

enter 1st term3
enter 2nd term6
5
15

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [13]:
# Write your code here
a=int(input())
b=int(input())
c=int(input())
d=int(input())
r1=(a*d)+(b*c)
r2=(b*d)
print("the fraction of two number",r1/r2)

2
3
3
7
the fraction of two number 1.0952380952380953

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [14]:
# Write your code here
import math
h_t=float(input("height"))
b_t=float(input("bredth"))
l_t=float(input("length"))
h_g=float(input("hight of glass"))
r_g=float(input("radius of glass"))
vol_tank=h_t*b_t*l_t
vol_glass=3.14*r_g*r_g*h_g
print("no of glasses",math.floor(vol_tank/vol_glass))

height10
bredth9
length10
hight of glass5
radius of glass2
no of glasses 14